<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automação de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Automação de Login</h1>
    <form action="/start" method="post" enctype="multipart/form-data">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <label for="file">Arquivo Excel:</label>
        <input type="file" id="file" name="file" accept=".xlsx" required><br><br>
        
        <input type="submit" value="Iniciar Automação">
    </form>
</body>
</html>